# Godot-specific ignores
.import/
.godot/
#export.cfg
#export_presets.cfg

# Mono-specific ignores
.mono/
.game/

libsteam_api.so
steam_api64.dll

# System/tool-specific ignores
.directory
*~

# songs/ should not be included with the source release
songs/
